<% provide :title, t ".title" %>
<% provide :id, "body_student" %>
<%= render "layouts/menu" %>
<section>
  <form action="delete_student" method="get">
    <h1><% t ".name" %>"
          <section class="links">
            </br>
            <a class="link wipe" href="add_student"><% t ".add" %></a>
      </section>
    </h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>#</th>
            <th><% t ".student_code" %></th>
            <th><% t ".full_name" %></th>
            <th><% t ".edit" %></th>
            <th><% t ".delete" %></th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>
              <section class="links">
                <a class="link underline" href="edit_student?id=<?php echo $student[$i]['id']; ?> " style="margin-left: -10px"><% t ".edit_link" %></a>
              </section>
            </td>
            <td>
              <div>
                <label>
                  <input type="checkbox" class="option-input checkbox" name="<?php echo $student[$i]['id']?>"/><% t ".delete_checkbox" %>
              </div>
            </td>
          </tr>                                
        </tbody>
      </table>
    </div>
    <div class="wrap">
      <button class="button"><% t ".delete_button" %></button>
    </div>
  </form>
</section>
