<%= provide :title, "Thêm học phần" %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thêm học phần</title>
	<style type="text/css" href="new_subject.scss"></style>
</head>
<body>
	<div class="container" >
  	<h2>Thêm học phần</h2>
  		<form>
        <input name="name" type="text" class="feedback-input" placeholder="Ma hoc phan" />
        <textarea name="text" class="feedback-input" placeholder="Ten hoc phan"></textarea>

    <div class="form-footer" id="addSubject">
      <input type="submit" value="SUBMIT"/>
    </div>
  </form>
  <div class="form-footer" id="infor">
    <input type="submit" value="TEN DA TON TAI"/>
  </div>
</div>
</body>
</html>
