$h1-color: #fff;
$background-color-of-tbl-header: rgba(255,255,255,0.3);
$border-color-of-tbl-content: rgba(255,255,255,0.3);
$th-color: #fff;
$td-color: #fff;
$border-bottom-color-of-td: rgba(255,255,255,0.1);
$webkit-scrollbar-track-color: rgba(0,0,0,0.3);
$webkit-scrollbar-thumb-color: rgba(0,0,0,0.3);
$option-input-background-color: #cbd1d8;
$option-input-color: #fff;
$option-input-hover-coler: #9faab7;
$option-input-checked: #40e0d0;
$option-input-checked-after: #40e0d0;
$underline-after-background-color: #fff;
$underline-hover-after: #fff;
$link-color: #fff;
$wipe-border-color: #fff;
$wipe-after-background-color: #fff;
$wipe-hover-color: #124a58;
$button-color: #000;
$button-background-color: #fff;
$button-box-shadow-color: rgba(0, 0, 0, 0.1);
$button-hover-box-shadow-color: rgba(46, 229, 157, 0.4);
$button-hover-background-color: #2EE59D;
$button-hover-color: #fff;
$xem-danh-sach-lop-color: blue;
$xem-danh-sach-lop-hover-color: hotPink;
$xem-danh-sach-lop-background-color: skyBlue;
$xem-danh-sach-sinh-vien-color: blue;
$xem-danh-sach-sinh-vien-hover-color: hotPink;
$xem-danh-sach-sinh-vien-background-color: skyBlue;

/* body-subject */

$body-subject-background-color-webkit-linear-left-a: #283048;
$body-subject-background-color-webkit-linear-left-b: #859398;
$body-subject-background-color-o-linear-left-a: #283048;
$body-subject-background-color-o-linear-left-b: #859398;
$body-subject-background-color-linear-a: #283048;
$body-subject-background-color-linear-b: #859398;

/* body-class */

$body-class-background-color-webkit-linear-left-a: #3a6186;
$body-class-background-color-webkit-linear-left-b: #89253e;
$body-class-background-color-o-linear-left-a: #3a6186;
$body-class-background-color-o-linear-left-b: #89253e;
$body-class-background-color-linear-a: #3a6186;
$body-class-background-color-linear-b: #89253e;

/* body-student */

$body-student-background-color-webkit-linear-left-a: #2C3E50;
$body-student-background-color-webkit-linear-left-b: #FD746C;
$body-student-background-color-o-linear-left-a: #2C3E50;
$body-student-background-color-o-linear-left-b: #FD746C;
$body-student-background-color-linear-a: #2C3E50;
$body-student-background-color-linear-b: #FD746C;

/* body-room */

$body-room-background-color-webkit-linear-left-a: #16222A;
$body-room-background-color-webkit-linear-left-b: #3A6073;
$body-room-background-color-o-linear-left-a: #16222A;
$body-room-background-color-o-linear-left-b: #3A6073;
$body-room-background-color-linear-a: #16222A;
$body-room-background-color-linear-b: #3A6073;

/* body-day */

$body-day-background-color-webkit-linear-left-a: #3a6186;
$body-day-background-color-webkit-linear-left-b:#89253e;
$body-day-background-color-o-linear-left-a: #3a6186;
$body-day-background-color-o-linear-left-b: #89253e;
$body-day-background-color-linear-a: #3a6186;
$body-day-background-color-linear-b: #89253e;

/* admin */

$body-background-color: #596778;
$body-color: #EEEEEE;
$menu-open-button-background-color: #EEEEEE;
$line-background-color: #596778;
$menu-item-hover-color: #EEEEEE;
$menu-item-color: #3290B1;

$menu-blue-background-color: #669AE1;
$menu-blue-box-shadow-color: rgba(0, 0, 0, 0.14);
$menu-blue-text-shadow-color: rgba(0, 0, 0, 0.12); 
$menu-blue-hover-color: #669AE1;

$menu-green-background-color: #70CC72;
$menu-green-box-shadow-color: rgba(0, 0, 0, 0.14);
$menu-green-text-shadow-color: rgba(0, 0, 0, 0.12); 
$menu-green-hover-color: #70CC72;

$menu-red-background-color: #FE4365;
$menu-red-box-shadow-color: rgba(0, 0, 0, 0.14);
$menu-red-text-shadow-color: rgba(0, 0, 0, 0.12); 
$menu-red-hover-color: #FE4365;

$menu-purple-background-color: #C49CDE;
$menu-purple-box-shadow-color: rgba(0, 0, 0, 0.14);
$menu-purple-text-shadow-color: rgba(0, 0, 0, 0.12); 
$menu-purple-hover-color: #C49CDE;

$menu-orange-background-color: #FC913A;
$menu-orange-box-shadow-color: rgba(0, 0, 0, 0.14);
$menu-orange-text-shadow-color: rgba(0, 0, 0, 0.12); 
$menu-orange-hover-color: #62C2E4;

$menu-lightblue-background-color: #62C2E4;
$menu-lightblue-box-shadow-color: rgba(0, 0, 0, 0.14);
$menu-lightbue-text-shadow-color: rgba(0, 0, 0, 0.12); 
$menu-lightblue-hover-color: #62C2E4;

$credit-color: #EEEEEE;
$credit-a-color: #C49CDE;

/* login */

$login-btn-color: #333333;
$login-btn-shadow: rgba(255, 255, 255, 0.75);
$login-btn-background-image-moz-linear-top-a: #ffffff;
$login-btn-background-image-moz-linear-top-b: #e6e6e6;
$login-btn-background-image-ms-linear-top-a: #ffffff;
$login-btn-background-image-ms-linear-top-b: #e6e6e6;
$login-btn-background-image-webkit-linear-a: #ffffff;
$login-btn-background-image-webkit-linear-b: #e6e6e6;
$login-btn-background-image-webkit-linear-top-a: #ffffff;
$login-btn-background-image-webkit-linear-top-b: #e6e6e6;
$login-btn-background-image-o-linear-top-a: #ffffff;
$login-btn-background-image-o-linear-top-b: #e6e6e6;
$login-btn-background-image-linear-top-a: #ffffff;
$login-btn-background-image-linear-top-b: #e6e6e6;
$login-btn-background-repeat-start: #ffffff;
$login-btn-background-repeat-end: #e6e6e6;
$login-btn-border-color-a-a: #e6e6e6;
$login-btn-border-color-a-b: #e6e6e6;
$login-btn-border-color-a-c: #e6e6e6;
$login-btn-border-color-b-a: rgba(0, 0, 0, 0.1);
$login-btn-border-color-b-b: rgba(0, 0, 0, 0.1);
$login-btn-border-color-b-c: rgba(0, 0, 0, 0.25);
$login-btn-border: #e6e6e6;
$login-btn-webkit-box-shadow-a: rgba(255, 255, 255, 0.2);
$login-btn-webkit-box-shadow-b: rgba(0, 0, 0, 0.05); 
$login-btn-moz-box-shadow-a: rgba(255, 255, 255, 0.2);
$login-btn-moz-box-shadow-b: rgba(0, 0, 0, 0.05);
$login-btn-box-shadow-a: rgba(255, 255, 255, 0.2);
$login-btn-box-shadow-b: rgba(0, 0, 0, 0.05);
$login-btn-hover-active-disabled-background-color: #e6e6e6;
$login-btn-hover-background-color: #e6e6e6;
$login-btn-hover: #333333; 

$login-btn-primary-text-shadow: rgba(0, 0, 0, 0.25);
$login-btn-primary: #ffffff;
$login-btn-primary-active: rgba(255, 255, 255, 0.75);
$login-btn-primary-moz-linear-top-a: #6eb6de;
$login-btn-primary-moz-linear-top-b: #4a77d4;
$login-btn-primary-ms-linear-top-a: #6eb6de;
$login-btn-primary-ms-linear-top-b: #4a77d4;
$login-btn-primary-webkit-top-a: #6eb6de;
$login-btn-primary-webkit-top-b: #4a77d4;
$login-btn-primary-webkit-linear-top-a: #6eb6de;
$login-btn-primary-webkit-linear-top-b: #4a77d4;
$login-btn-primary-o-linear-top-a: #6eb6de;
$login-btn-primary-o-linear-top-b: #4a77d4;
$login-btn-primary-linear-top-a: #6eb6de;
$login-btn-primary-linear-top-b: #4a77d4;
$login-btn-primary-start: #6eb6de;
$login-btn-primary-end: #4a77d4;
$login-btn-primary-text-shadow: rgba(0,0,0,0.4);
$login-btn-primary-box-shadow-a: rgba(255, 255, 255, 0.2);
$login-btn-primary-box-shadow-b: rgba(0, 0, 0, 0.5);
$login-btn-primary-hover-background-color: #4a77d4;

$login-body-background: #092756;
$login-body-background-moz-radial-a: rgba(104,128,138,.4);
$login-body-background-moz-radial-b: rgba(138,114,76,0);
$login-body-background-moz-linear-top-a: rgba(57,173,219,.25);
$login-body-background-moz-linear-top-b: rgba(42,60,87,.4);
$login-body-background-moz-linear-a: #670d10;
$login-body-background-moz-linear-b: #092756;
$login-body-background-webkit-radial-a: rgba(104,128,138,.4);
$login-body-background-webkit-radial-b: rgba(138,114,76,0);
$login-body-background-webkit-linear-top-a: rgba(57,173,219,.25);
$login-body-background-webkit-linear-top-b: rgba(42,60,87,.4);
$login-body-background-webkit-linear-a: #670d10;
$login-body-background-webkit-linear-b: #092756;
$login-body-background-o-radial-a: rgba(104,128,138,.4);
$login-body-background-o-radial-b: rgba(138,114,76,0);
$login-body-background-o-linear-top-a: rgba(57,173,219,.25);
$login-body-background-o-linear-top-b: rgba(42,60,87,.4);
$login-body-background-o-linear-a: #670d10;
$login-body-background-o-linear-b: #092756;
$login-body-background-ms-radial-a: rgba(104,128,138,.4);
$login-body-background-ms-radial-b: rgba(138,114,76,0);
$login-body-background-ms-linear-top-a: rgba(57,173,219,.25);
$login-body-background-ms-linear-top-b: rgba(42,60,87,.4);
$login-body-background-ms-linear-a: #670d10;
$login-body-background-ms-linear-b: #092756;
$login-body-background-webkit-radia-a: rgba(104,128,138,.4);
$login-body-background-webkit-radia-b: rgba(138,114,76,0);
$login-body-background-linear-bottom-a: rgba(57,173,219,.25);
$login-body-background-linear-bottom-b: rgba(42,60,87,.4);
$login-body-background-linear-a: #670d10;
$login-body-background-linear-b: #092756;
$login-body-start: #3E1D6D;
$login-body-start: #092756;

$login-h1: #fff;
$login-h1-text-shadow: rgba(0,0,0,0.3);

$login-input-background: rgba(0,0,0,0.3);
$login-input-text-shadow: rgba(0,0,0,0.3);
$login-input-border: rgba(0,0,0,0.3);
$login-input-box-shadow-a: rgba(100,100,100,0.2);
$login-input-box-shadow-b: rgba(255,255,255,0.2);
$login-input-focus-box-shadow-a: rgba(100,100,100,0.4);
$login-input-focus-box-shadow-b: rgba(255,255,255,0.2);
