$h1-color: #fff;
$background-color-tbl-header: rgba(255,255,255,0.3);
$border-color-of-tbl-content: rgba(255,255,255,0.3);
$th-color: #fff;
$td-color: #fff;
$border-bottom-color-of-td: rgba(255,255,255,0.1);
$webkit-scrollbar-track-color: rgba(0,0,0,0.3);
$webkit-scrollbar-thumb-color: rgba(0,0,0,0.3);
$option-input-background-color: #cbd1d8;
$option-input-color: #fff;
$option-input-hover-coler: #9faab7;
$option-input-checked: #40e0d0;
$option-input-checked-after: #40e0d0;
$underline-after-background-color: #fff;
$underline-hover-after: #fff;
$link-color: #fff;
$wipe-border-color: #fff;
$wipe-after-background-color: #fff;
$wipe-hover-color: #124a58;
$button-color: #000;
$button-background-color: #fff;
$button-box-shadow-color: rgba(0, 0, 0, 0.1);
$button-hover-box-shadow-color: rgba(46, 229, 157, 0.4);
$button-hover-background-color: #2EE59D;
$button-hover-color: #fff;
$xem-danh-sach-lop-color: blue;
$xem-danh-sach-lop-hover-color: hotPink;
$xem-danh-sach-lop-background-color: skyBlue;
$xem-danh-sach-sinh-vien-color: blue;
$xem-danh-sach-sinh-vien-hover-color: hotPink;
$xem-danh-sach-sinh-vien-background-color: skyBlue;

/* body-subject */

$body-subject-background-color-webkit-linear-left-a: #283048;
$body-subject-background-color-webkit-linear-left-b: #859398;
$body-subject-background-color-o-linear-left-a: #283048;
$body-subject-background-color-o-linear-left-b: #859398;
$body-subject-background-color-linear-a: #283048;
$body-subject-background-color-linear-b: #859398;

/* body-class */

$body-class-background-color-webkit-linear-left-a: #3a6186;
$body-class-background-color-webkit-linear-left-b: #89253e;
$body-class-background-color-o-linear-left-a: #3a6186;
$body-class-background-color-o-linear-left-b: #89253e;
$body-class-background-color-linear-a: #3a6186;
$body-class-background-color-linear-b: #89253e;

/* body-student */

$body-student-background-color-webkit-linear-left-a: #2C3E50;
$body-student-background-color-webkit-linear-left-b: #FD746C;
$body-student-background-color-o-linear-left-a: #2C3E50;
$body-student-background-color-o-linear-left-b: #FD746C;
$body-student-background-color-linear-a: #2C3E50;
$body-student-background-color-linear-b: #FD746C;

/* body-room */

$body-room-background-color-webkit-linear-left-a: #16222A;
$body-room-background-color-webkit-linear-left-b: #3A6073;
$body-room-background-color-o-linear-left-b: #3A6073;
$body-room-background-color-o-linear-left-a: #16222A;
$body-room-background-color-linear-a: #16222A;
$body-room-background-color-linear-b: #3A6073;