@import 'color';

h1{
  font-size: 30px;
  color: $h1-color;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  }

table{
  width:100%;
  height: 30px;
  table-layout: fixed;
}

.tbl-header{
  background-color: $background-color-tbl-header;
}

.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid $border-color-of-tbl-content;
  }

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: $th-color;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: $td-color;
  border-bottom: solid 1px $border-bottom-color-of-td;
  }

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
                
#body-subject{
  background: -webkit-linear-gradient(left, $body-subject-background-color-webkit-linear-left-a, $body-subject-background-color-webkit-linear-left-b);
  background: -o-linear-gradient(left, $body-subject-background-color-o-linear-left-a, $body-subject-background-color-o-linear-left-b);
  background: linear-gradient(to right, $body-subject-background-color-linear-a, $body-subject-background-color-linear-b);
  font-family: 'Roboto', sans-serif;
}

section{
  margin: 50px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
} 

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $webkit-scrollbar-track-color; 
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px $webkit-scrollbar-thumb-color; 
}

*{font-family: 'Roboto', sans-serif;}

@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 10.5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: $option-input-background-color;
  border: none;
  color: $option-input-color;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
   background: $option-input-hover-coler;
 }

.option-input:checked {
  background: $option-input-checked;
}

.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 20px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: $option-input-checked-after;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.links {
  width: 90%;
  margin: 0 auto;
}

.underline {                
  border: 2px solid transparent;
}

.underline::after {
  width: 0%;
  height: 2px;
  display: block;
  background-color: $underline-after-background-color;
  content: " ";
  position: absolute;
  top: 34px;
  left: 50%;
  -webkit-transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.underline:hover::after {
  width: 35%;
  height: 2px;
  display: block;
  background-color: $underline-hover-after;
  content: " ";
  position: absolute;
  top: 34px;
  left: 0;
}

.link {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 34px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: $link-color;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
  margin: 10px;
  position: relative;   
}

.wipe {
  border: 2px solid $wipe-border-color;
  border-radius: 4px;
  overflow: hidden;
}

.wipe {
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.wipe::after {
  width: 100%;
  height: 100%;
  display: block;
  background-color: $wipe-after-background-color;
  content: " ";
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translateY(34px);
  transform: translateY(34px);
  z-index: -1;
}

.wipe:hover {
  color: $wipe-hover-color;
}

.wipe:hover::after {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float:right;
  padding-right:50px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.button {
  width: 120px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: $button-color;
  background-color: $button-background-color;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px $button-box-shadow-color;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: $button-hover-background-color;
  box-shadow: 0px 15px 20px $button-hover-box-shadow-color;
  color: $button-hover-color;
  transform: translateY(-7px);
}

#xem_danh_sach_lop {
  color: $xem-danh-sach-lop-color;
  font: bold 1.2em/1.5 'Fjalla One', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .2s;
}

#xem_danh_sach_lop:hover {
  color: $xem-danh-sach-lop-hover-color;
}

@media (-webkit-min-device-pixel-ratio:0) {
  #xem_danh_sach_lop {
    background-color: $xem-danh-sach-lop-background-color;
    background-image: -webkit-linear-gradient(left, hotPink 0%, orange 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .1s .2s;
    -webkit-background-clip: text;
   }

  #xem_danh_sach_lop:hover {
    background-position: 0 0;
    color: transparent;
    transition: .4s 0;
  }
}
