<footer class="footer bg-dark text-white">
  <nav class="navbar">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to t("footer.en"), locale: "en"%>
      </li>
      <li class="nav-item">
        <%= link_to t("footer.vi"), locale: "vi" %>
      </li>
    </ul>
  </nav>
  <p> <%= t "footer.author" %></p>
</footer>
