<footer class="footer bg-dark text-white">
  <nav class="navbar">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "English", locale:"en"%>
      </li>
      <li class="nav-item">
        <%= link_to "Vietnamese", locale:"vi" %>
      </li>
    </ul>
  </nav>
  <p> designer :@dinh van nam</p>
</footer>
